$is-front_end: true;

@use 'initialise/initialise' with (
  $is-front_end: $is-front_end
);
@use 'layout/layout' with (
  $is-front_end: $is-front_end
);
@use 'styling/styling' with (
  $is-front_end: $is-front_end
);

// main {
//   // temporary
//   outline: 1px solid red;
// }
// aside {
//   // temporary
//   outline: 1px solid green;
// }
// header,
// footer {
//   // temporary
//   outline: 1px solid grey;
// }
