@use 'initialise/initialise.scss';
@use 'blocks/blocks';
@use 'layout/layout';
@use 'styling/styling';

main {
  outline: 1px solid red;
}
aside {
  outline: 1px solid blue;
}

header,
footer {
  outline: 1px solid grey;
}
