:root {
  --panda-puss--global--font-family--serif: serif;
  --panda-puss--global--font-family--sans-serif: sans-serif;
  --panda-puss--global--font-family--cursive: cursive;
  --panda-puss--global--font-family--monospace: monospace;

  --panda-puss--global--font-size--small: 0.6rem;
  --panda-puss--global--font-size--medium: 16px;
  --panda-puss--global--font-size--large: 1.4rem;
  --panda-puss--global--font-size--huge: 1.8rem;
}

$pp--primary-font-family: var(--panda-puss--global--font-family--cursive);
$pp--secondary-font-family: var(--panda-puss--global--font-family--cursive);

$pp--primary-font-size: var(--panda-puss--global--font-size--medium);
$pp--secondary-font-size: var(--panda-puss--global--font-size--huge);
