$pp--font-family--serif: serif;
$pp--font-family--sans-serif: sans-serif;
$pp--font-family--cursive: cursive;
$pp--font-family--monospace: monospace;

$pp--font-family--primary: $pp--font-family--sans-serif !default;
$pp--font-family--secondary: $pp--font-family--cursive !default;

$-pp--font-size--base: 16px;

$pp--font-size--small: 0.6rem;
$pp--font-size--medium: $-pp--font-size--base;
$pp--font-size--large: 1.4rem;
$pp--font-size--huge: 1.8rem;

$pp--font-size--sub: -0.25rem;
$pp--font-size--sup: -0.5rem;


$pp--primary-font-size: $pp--font-size--medium !default;
$pp--secondary-font-size: $pp--font-size--huge !default;

$pp--line-height: 1.5;
