@charset "UTF-8";

$is-front_end: false !default;

@use 'fileheader';
@use 'wp-overrides' with (
  $is-front_end: $is-front_end
);
@use 'normalise' with (
  $is-front_end: $is-front_end
);
@use 'colours';
@use 'fonts';
@use 'spacing';
@use 'quotation-marks';

// @debug #{$is-front_end};

$reset-margin: ':root, body,\
header, footer, div,\
ol, ul, menu, dir, p, dl, img, time,\
multicol, blockquote, figure,\
h1, h2, h3, h4, h5, h6,\
:is(article, aside, nav, section) h1,\
button, input, optgroup, select, textarea, legend, fieldset,\
.wp-block, .wp-site-blocks, .wp-block-post-author__bio, .wp-block-post-template, .wp-block-search__button,\
.pp-template .wp-block-post .pp-article, .single .pp-main:not(.pp-front-page) .pp-article, .page .pp-main:not(.pp-front-page) .pp-article,\
.block-editor-block-list__layout .pp-main:not(.pp-front-page) .pp-article,\
.single .pp-main.pp-front-page .pp-article, .page .pp-main.pp-front-page .pp-article, .block-editor-block-list__layout .pp-main.pp-front-page .pp-article, .pp-template .wp-block-post .pp-article,\
.wp-block-query-pagination > .wp-block-query-pagination-next, .wp-block-query-pagination > .wp-block-query-pagination-numbers, .wp-block-query-pagination > .wp-block-query-pagination-previous';

@if ($is-front_end == true) {
  $reset-margin: #{$reset-margin} + ', .wp-block-post-comments .comment-form-cookies-consent #wp-comment-cookies-consent, button, ::file-selector-button, input:is([type="reset"], [type="button"], [type="submit"]), .wp-block-post-comments input:not([type="submit"]):not([type="checkbox"]), .wp-block-post-comments textarea, .wp-block-post-author__avatar, .wp-block-post-author__content, .wp-block-post-author__byline, .wp-block-post-author__name, .wp-block-post-author__bio';
}

#{$reset-margin} {
  // @debug #{$is-front_end} – #{&};
  margin: 0 {
    block: 0;
    inline: 0;
  };
  padding: 0 {
    block: 0;
    inline: 0;
  };
  // outline: 1px dotted hotpink;
}
ol,ul,dl {
  padding-inline-start: 1.5ch;
}

img {
  background: inherit;
}

textarea,
input,
button,
svg {
  background: inherit;
  color: inherit;
}
textarea,
input,
button {
  // border: 1px solid currentColor;
}
