@charset "UTF-8";

@use 'fileheader';
@use 'normalise';
@use 'colours';
@use 'fonts';
@use 'spacing';
@use 'quotation-marks';
@use 'wp-theme-settings';

$include-comments: false !default;

$reset-margin: ':root, body,\
header, footer, div,\
ol, ul, menu, dir, p, dl, img, time,\
multicol, blockquote, figure,\
h1, h2, h3, h4, h5, h6,\
:is(article, aside, nav, section) h1,\
input, optgroup,\
.wp-block, .wp-site-blocks, .wp-block-post-author__bio, .wp-block-post-template, .wp-block-search__button,\
.pp-template .wp-block-post .pp-article, .single .pp-main:not(.pp-front-page) .pp-article, .page .pp-main:not(.pp-front-page) .pp-article,\
.block-editor-block-list__layout .pp-main:not(.pp-front-page) .pp-article,\
.single .pp-main.pp-front-page .pp-article, .page .pp-main.pp-front-page .pp-article, .block-editor-block-list__layout .pp-main.pp-front-page .pp-article, .pp-template .wp-block-post .pp-article,\
.wp-block-query-pagination > .wp-block-query-pagination-next, .wp-block-query-pagination > .wp-block-query-pagination-numbers, .wp-block-query-pagination > .wp-block-query-pagination-previous';

@if ($include-comments == true) {
  $reset-margin: #{$reset-margin} + ', .wp-block-post-comments .comment-form-cookies-consent #wp-comment-cookies-consent, button, ::file-selector-button, input:is([type="reset"], [type="button"], [type="submit"]), .wp-block-post-comments input:not([type="submit"]):not([type="checkbox"]), .wp-block-post-comments textarea, .wp-block-post-author__avatar, .wp-block-post-author__content, .wp-block-post-author__byline, .wp-block-post-author__name, .wp-block-post-author__bio';
}

#{$reset-margin} {
  // @debug #{$include-comments} – #{&};
  margin: 0 {
    block: 0;
    inline: 0;
  };
  padding: 0 {
    block: 0;
    inline: 0;
  };
  // outline: 1px dotted hotpink;
}
ol,ul,dl {
  padding-inline-start: 1.5ch;
}

img {
  background: colours.$pp--colour--bg;
}

.wp-block-search__button,
.wp-block-post-comments input[type="submit"],
input,
button,
svg {
  background: colours.$pp--colour--bg;
  color: colours.$pp--colour--fg;
}
.wp-block-search__button,
.wp-block-search__input,
.wp-block-post-comments input[type="submit"],
input,
button {
  border: 1px solid colours.$pp--colour--fg--secondary;
}
