:root {
  --panda-puss--global--space: 1ch;
  --panda-puss--global--space--hor: calc(0.5 * var(--panda-puss--global--space));
  --panda-puss--global--space--ver: calc(2.0 * var(--panda-puss--global--space));
}
