$is-front_end: true !default;
// @debug #{$is-front_end};

@use '../mixins/mixins';

//
// Override WordPress settings either because they don't work or they interfere
// with other styling/layout.
//
.wp-site-blocks {
  // background-color: saddlebrown;
  .wp-block {
    // There is no wp-block; it's used for convenience with suffixes to create the WP blocks:
    &-embed {
      margin: 0 {
        left: auto;
        right: auto;
      };
      &__wrapper {
        .wp-embedded-content {
          display: block;
          margin: 0 {
            left: auto;
            right: auto;
          };
          overflow: auto;
          padding: 0;
        }
      }
    }
    &-image {
      &.is-style-circle-mask {
        img {
          border-radius: 500px;
        }
      }
      &.is-style-rounded {
        img {
          border-radius: 100px;
        }
      }
    }
    &-navigation {
      &__submenu {
        &-icon {
          // Make the icon display properly in Safari:
          height: unset;
          margin: 0 {
            left: 0.125ch;
          }
          width: unset;
        }
        // &-container {
        //   // color: red;
        // }
        &-container,
        .wp-block-page-list {
          // background-color: lightslategrey;
          // border: 1px solid lightslategrey;
          // Make it easier to select submenu items without an annoying gap that makes hovering tricky:
          margin: 0;
        }
      }
      &-item {
        &.has-child {
          .wp-block-navigation__submenu-container {
            border: inherit;
            color: inherit;
          }
        }
        &__content {
          padding: 0;
        }
      }
    }
    &-post {
      &-author {
        &__bio,
        &__byline,
        &__name {
          font-size: inherit;
          width: unset;
        }
      }
      @if ($is-front_end == true) {
        &-comments {
          // background-color: honeydew;
          @include mixins.ui-element-border;
        }
      }
    }
    &-search {
      &__input {
        @include mixins.ui-element;
        @include mixins.ui-field;
        color: inherit;
        flex-grow: 1;
        min-width: 1ch;
        font-size: unset;
        font-family: unset;
        line-height: unset;
        text-align: center;
      }
      &__inside-wrapper {
        column-gap: calc(1 * var(--pp--space--hor));
        flex: unset;
      }
      &__button {
        background: inherit;
        @include mixins.ui-element;
        @include mixins.ui-button;
        // padding: 0 clamp(1ch, calc(10 * var(--pp--space--hor)), 3%);
      }
      &__label {
        display: none;
      }
    }
    &-site {
      // Do not use &-site without suffixation.
      &-logo {
        &.is-default-size .custom-logo {
          height: auto;
          width: 100%;
        }
      }
    }
    &-verse {
      margin: auto;
      width: fit-content;
    }
    &-query-pagination {
      align-items: stretch;
      column-gap: 0;
      display: grid;
      row-gap: 0;
    }
  }
}

//
// End of WordPress overrides
//

