$is-front_end: true !default;

@use 'sass:map';
@use '../inc/mixins/forms';
@use '../settings/colours';
@use '../settings/fonts';
@use '../settings/spacing';

// @debug #{$is-front_end};
//
// Override WordPress settings either because they don't work or they interfere
// with other styling/layout.
//
.wp-site-blocks {
  // background-color: saddlebrown;
  .wp-block {
    // There is no wp-block; it's used for convenience with suffixes to create the WP blocks:
    &-button {
      &__link,
      &__link:link,
      &__link:visited,
      &__link:hover,
      // &__link:active,
      &__link:focus {
        @include forms.ui-button;
      }
      &__link:active {
        @include forms.ui-button-active;
      }
    }
    &-code {
      code {
        border: 1px solid currentColor;
        border-radius: inherit;
        font-family: #{map.get(fonts.$pp--fonts, "families", "monospace")};
        tab-size: 2;
      }
    }
    &-embed {
      margin: 0 {
        left: auto;
        right: auto;
      };
      &__wrapper {
        .wp-embedded-content {
          display: block;
          margin: 0 {
            left: auto;
            right: auto;
          };
          overflow: auto;
          padding: 0;
        }
      }
    }
    &-image {
      &.is-style-circle-mask {
        img {
          border-radius: 500px;
        }
      }
      &.is-style-rounded {
        img {
          border-radius: 100px;
        }
      }
    }
    &-navigation {
      &:not(.has-background) .wp-block-navigation__submenu-container {
        background-color: colours.$pp--colour--bg-primary;
      }
      &__submenu {
        &-icon {
          // Make the icon display properly in Safari:
          height: unset;
          margin: 0 {
            left: 0.125ch;
          }
          width: unset;
        }
        // &-container {
        //   // color: red;
        // }
        &-container,
        .wp-block-page-list {
          // background-color: lightslategrey;
          // border: 1px solid lightslategrey;
          // Make it easier to select submenu items without an annoying gap that makes hovering tricky:
          margin: 0;
        }
      }
      &-item {
        &.has-child {
          .wp-block-navigation__submenu-container {
            border: inherit;
            color: inherit;
          }
        }
        &__content {
          padding: 0;
        }
      }
    }
    &-post {
      &-author {
        &__bio,
        &__byline,
        &__name {
          font-size: inherit;
          width: unset;
        }
      }
      @if ($is-front_end == true) {
        &-comments {
          // background-color: honeydew;
          input:not([type=submit]),
          textarea {
            @include forms.ui-field;
          }
        }
      }
    }
    &-search {
      &__input {
        @include forms.ui-field;
        color: currentColor;
        flex-grow: 1;
        min-width: 1ch;
        font-size: unset;
        font-family: unset;
        line-height: unset;
        text-align: center;
      }
      &__inside-wrapper {
        column-gap: calc(1 * #{map.get(spacing.$pp--spacing, "horizontal")});
        flex: unset;
      }
      &__button {
        @include forms.ui-button;
      }
      &__button:active {
        @include forms.ui-button-active;
      }
      &__label {
        display: none;
      }
    }
    &-site {
      // Do not use &-site without suffixation.
      &-logo {
        &.is-default-size .custom-logo {
          height: auto;
          width: 100%;
        }
      }
    }
    &-verse {
      margin: auto;
      width: fit-content;
    }
    &-query-pagination {
      align-items: stretch;
      column-gap: 0;
      display: grid;
      row-gap: 0;
    }
  }
  @if $is-front_end == false {
    // Make sure the site logo is full width in the editor:
    .wp-block-site-logo div {
      // @debug #{&};
      height: auto !important;
      width: 100% !important;
    }
    // Sort the text and font out.
    // font-family: #{map.get(fonts.$pp--fonts, "families", "primary")}; // Needed for the editor in Safari – or is it? I think it uses the browser's setting.
    .block-editor {
      &-rich-text__editable {
        color: inherit;
      }
    }
    .wp-block-navigation, .wp-block-navigation .wp-block-page-list, .wp-block-navigation__container, .wp-block-navigation__responsive-container-content {
      gap: 0 calc(4 * #{map.get(spacing.$pp--spacing, "horizontal")});;//var(--wp--style--block-gap,2em);
    }
  }
}
//
// End of WordPress overrides
//

