$primary-fg: var(--panda-puss--global--colour--tundora);
$primary-bg: var(--panda-puss--global--colour--heliotrope);


.wp-site-blocks {
  background-color: $primary-bg;
  color: $primary-fg;
}

.wp-block-site-title {

}
.wp-block-site-tagline {

}
