@use 'sass:map';
@use 'sass:math';
@use '../inc/functions';

// // ColorSlurp [https://colorslurp.com/] was used to develop the colour palette, and is the source of the colour names.

$-pp--colours: (
  "hue": (
    "000":   0deg,
    "030":  30deg,
    "060":  60deg,
    "090":  90deg,
    "120": 120deg,
    "150": 150deg,
    "180": 180deg,
    "210": 210deg,
    "240": 240deg,
    "270": 270deg,
    "300": 300deg,
    "330": 330deg,
    "360": 360deg,
  ),
  "saturation": (
    "000":   0%,
    "010":  10%,
    "020":  20%,
    "025":  25%,
    "030":  30%,
    "040":  40%,
    "050":  50%,
    "060":  60%,
    "070":  70%,
    "075":  75%,
    "080":  80%,
    "090":  90%,
    "100": 100%,
  ),
  "lightness": (
    "000":   0%,
    "010":  10%,
    "020":  20%,
    "025":  25%,
    "030":  30%,
    "040":  40%,
    "050":  50%,
    "060":  60%,
    "070":  70%,
    "075":  75%,
    "080":  80%,
    "090":  90%,
    "100": 100%,
  ),
  "alpha": (
    "0-00": 0.00,
    "0-25": 0.25,
    "0-50": 0.50,
    "0-75": 0.75,
    "1-00": 1.00,
  ),
);
// @debug $-pp--colours;
// @debug map.get($-pp--colours, "hue");
// @debug map.get($-pp--colours, "saturation");
// @debug map.get($-pp--colours, "lightness");
// @debug map.get($-pp--colours, "alpha");

$-pp-colour-base: hsla( // base colour
  map.get($-pp--colours, "hue",        "270"),
  map.get($-pp--colours, "saturation", "000"),
  map.get($-pp--colours, "lightness",  "050"),
  map.get($-pp--colours, "alpha",      "0-50")
) !default;
// @debug functions.getColour('hsla', $-pp-colour-base, 'Base');

$-pp-colour-fg: adjust-color( // foreground
  $-pp-colour-base,
  $hue:        0deg,
  $saturation: 0%,
  $lightness:  lightness($-pp-colour-base) * math.div(-2, 3),
  $alpha:      alpha($-pp-colour-base) * 1%
);
$-pp-colour-bg: adjust-color( // background
  $-pp-colour-base,
  $hue:        0deg,
  $saturation: 0%,
  $lightness:  lightness($-pp-colour-base) * math.div(5, 6),
  $alpha:      alpha($-pp-colour-base) * 1%
);
$-pp-colour-hl: scale-color( // highlight
  $-pp-colour-fg,
  $saturation: 0%,
  $lightness:  40%,
  $alpha:      0%
);
$-pp-colour-ll: scale-color( // lowlight
  $-pp-colour-bg,
  $saturation: 0%,
  $lightness:  -40%,
  $alpha:      0%
);

$pp--colour--fg-primary: $-pp-colour-fg; // foreground
$pp--colour--bg-primary: $-pp-colour-bg; // background
$pp--colour--hl-primary: $-pp-colour-hl; // highlight
$pp--colour--ll-primary: $-pp-colour-ll; // lowlight

// @debug functions.getColour('hsla', $pp--colour--fg-primary, 'FG');
// @debug functions.getColour('hsla', $pp--colour--bg-primary, 'BG');
// @debug functions.getColour('hsla', $pp--colour--hl-primary, 'HL');
// @debug functions.getColour('hsla', $pp--colour--ll-primary, 'LL');
