@use 'sass:map';

// All things fonts and text.

$-pp--font-size--base: 16px;
$-pp--font-size--heading: calc(2 * $-pp--font-size--base);

$-pp--fonts: (
  "sizes": (
    "small": max(12px, calc(0.6 * $-pp--font-size--base)),
    "medium": $-pp--font-size--base,
    "large": max(24px, calc(2 * $-pp--font-size--base)),
    "x-large": max(32px, calc(3 * $-pp--font-size--base)),
    "h1": max(23px, calc(1.0 * $-pp--font-size--heading)),
    "h2": max(22px, calc(0.9 * $-pp--font-size--heading)),
    "h3": max(21px, calc(0.8 * $-pp--font-size--heading)),
    "h4": max(20px, calc(0.7 * $-pp--font-size--heading)),
    "h5": max(19px, calc(0.6 * $-pp--font-size--heading)),
    "h6": max(18px, calc(0.5 * $-pp--font-size--heading)),
  ),
  "families": (
    "serif": serif,
    "sans-serif": sans-serif,
    "cursive": cursive,
    "monospace": monospace,
  ),
);

$pp--fonts: (
  "sizes": (
    "primary": #{map.get($-pp--fonts, "sizes", "medium")},
    "secondary": #{map.get($-pp--fonts, "sizes", "x-large")},
    "small": #{map.get($-pp--fonts, "sizes", "small")},
    "medium": #{map.get($-pp--fonts, "sizes", "medium")},
    "large": #{map.get($-pp--fonts, "sizes", "large")},
    "x-large": #{map.get($-pp--fonts, "sizes", "x-large")},
    "smaller": 0.8rem,
    "larger": 1.2rem,
    "h1": #{map.get($-pp--fonts, "sizes", "h1")},
    "h2": #{map.get($-pp--fonts, "sizes", "h2")},
    "h3": #{map.get($-pp--fonts, "sizes", "h3")},
    "h4": #{map.get($-pp--fonts, "sizes", "h4")},
    "h5": #{map.get($-pp--fonts, "sizes", "h5")},
    "h6": #{map.get($-pp--fonts, "sizes", "h6")},
    "sub-sup": 0.75rem,
  ),
  "families": (
    "primary": #{map.get($-pp--fonts, "families", "sans-serif")},
    "secondary": #{map.get($-pp--fonts, "families", "cursive")},
    "monospace": #{map.get($-pp--fonts, "families", "monospace")},
  ),
  "line-heights": (
    "primary": 1.5,
    "sub-sup": 0,
  ),
  "positions": (
    "sub": -0.25rem,
    "sup": -0.5rem,
  ),
);






