@use 'sass:string';

@mixin article($content-type) {

  @if $content-type != "content" and $content-type != 'excerpt' {
    @error "Unknown post content type";
  }
  margin: auto;

  // @debug "content type: #{$content-type}";

  $grid-areas: "";
  @media (min-width: 601px) {
    & {
      // @debug "larger screen";
      // @debug "#{&}";
      $title: "\"post-featured_image post-title\"";
      $metadata: "\"post-featured_image pp-post-metadata\"";
      $content: "\"post-featured_image post-" + $content-type + "\"";
      $grid-areas: #{$title} + " " + #{$metadata} + " "  + #{$content};
      // @debug "grid: #{$grid-areas}";
      grid-template-areas:
        #{$grid-areas}
      ;
    }
  }
  @media (max-width: 600px) {
    & {
      // @debug "smaller screen";
      // @debug "#{&}";
      $title: "\"post-featured_image post-title\"";
      $metadata: "\"post-featured_image pp-post-metadata\"";
      $content: "\"post-" + $content-type + " post-" + $content-type + "\"";
      $grid-areas: #{$title} + " " + #{$metadata} + " "  + #{$content};
      // @debug "grid: #{$grid-areas}";
      grid-template-areas:
        #{$grid-areas}
      ;
    }
  }
  & {
    // background-color: yellow;
    // border: 1px solid yellow;
    margin: 0;
    padding: 0;
    // Grid container
    display: grid;
    grid-template-columns: clamp(10vw, 200px, 20vw) minmax(10px, 1fr);
    grid-template-rows: auto;
    column-gap: calc(2 * var(--pp--space--hor));
    row-gap: calc(1 * var(--pp--space--ver));
    // End of grid container
  }
  @if ($content-type == "content") {
    &.pp-focus {
      // @debug "#{&}";
      $featured-image: "\"post-featured_image\"";
      $title: "\"post-title\"";
      $metadata: "\"pp-post-metadata\"";
      $content: "\"post-" + $content-type + "\"";
      $grid-areas: #{$title} + " " + #{$featured-image} + " " + #{$metadata} + " "  + #{$content};
      // @debug "grid (focus): #{$grid-areas}";
      // background-color: maroon;
      // border: 1px solid maroon;
      // Grid container
      grid-template-columns: 100%;
      grid-template-areas:
        #{$grid-areas}
      ;
      column-gap: calc(0 * var(--pp--space--hor));
      row-gap: calc(1 * var(--pp--space--ver));
      // End of grid container
    }
    &.pp-no-featured_image {
      // @debug "#{&}";
      $title: "\"post-title\"";
      $metadata: "\"pp-post-metadata\"";
      $content: "\"post-" + $content-type + "\"";
      $grid-areas: #{$title} + " " + #{$metadata} + " "  + #{$content};
      // @debug "grid (focus): #{$grid-areas}";
      // background-color: mediumaquamarine;
      // border: 1px solid mediumaquamarine;
      // Grid container
      grid-template-columns: 100%;
      grid-template-areas:
        #{$grid-areas}
      ;
      column-gap: calc(0 * var(--pp--space--hor));
      row-gap: calc(1 * var(--pp--space--ver));
      // End of grid container
      // .pp-featured_image {
        // This doesn't seem to be needed:
      //   display: none;
      // }
    }
  }

  & {
    .wp-block-post-title {
      // background-color: green;
      // border: 1px solid green;
      // Grid item
      grid-area: post-title;
      place-self: start stretch;
      // End of grid item
      margin-top: 0;
    }

    .wp-block-group.pp-metadata {
      // background-color: cornflowerblue;
      // border: 1px solid cornflowerblue;
      // Grid item
      grid-area: pp-post-metadata;
      // End of grid item
      // Flex container
      display: flex;
      flex-flow: row wrap;
      column-gap: calc(1 * var(--pp--space--hor));
      row-gap: calc(0 * var(--pp--space--ver));;
      // End of flex container

      .wp-block-post-author {
        // background-color: darkkhaki;
        // border: 1px solid darkkhaki;
        // Flex item
        // Safari doesn't support `fit-content`, so put `auto` before it to fall back on:
        flex: 0 1 auto;
        flex: 0 1 fit-content;
        // End of flex item
        // Grid container
        display: grid;
        column-gap: calc(1.5 * var(--pp--space--hor));
        row-gap: 0;
        grid-template-columns: 48px minmax(5ch, 1fr);
        grid-template-rows: auto;
        grid-template-areas:
          "post-author-avatar post-author-content"
          ;
        // End of grid container
        .wp-block-post-author__avatar {
          // background-color: greenyellow;
          // border: 1px solid greenyellow;
          // Need to override an 'inline' margin setting:
          margin: inherit;
          // Grid item
          grid-area: post-author-avatar;
          // End of grid item
          .avatar {
            // border: 1px solid red;
            vertical-align: bottom;
          }
        }
        .wp-block-post-author__content {
          // background-color: yellowgreen;
          // border: 1px solid yellowgreen;
          // Grid item
          grid-area: post-author-content;
          align-self: center;
          // End of grid item
          .wp-block-post-author__name {
            // border: 1px solid blue;
          }
        }
      }

      .wp-block-post-date {
        // background-color: mediumpurple;
        // border: 1px solid purple;
        // Flex item
        flex: 0 1 auto;
        flex: 0 1 fit-content;
        align-self: center;
        // End of flex item
      }

      .wp-block-group.pp-terms {
        // background-color: palevioletred;
        // border: 1px solid palevioletred;
        // Flex item
        flex: 0 1 auto;
        flex: 0 1 fit-content;
        align-self: center;
        // End of flex item
        // Flex container
        column-gap: calc(1 * var(--pp--space--hor));
        row-gap: 0;
        display: flex;
        flex-flow: row wrap;
        // End of flex container
        .wp-block-post-terms {
        }
        .wp-block-post-terms.taxonomy-category {
          // background-color: rosybrown;
          // border: 1px solid rosybrown;
          // Flex item
          flex: 0 1 auto;
          flex: 0 1 fit-content;
          // End of flex item
        }
        .wp-block-post-terms.taxonomy-post_tag {
          // background-color: mistyrose;
          // border: 1px solid mistyrose;
          // Flex item
          flex: 0 1 auto;
          flex: 0 1 fit-content;
          // End of flex item
        }
      }
    }

    .pp-article_content {
      // background-color: cyan;
      margin: inherit;
      padding: inherit;
      &.wp-block-post-excerpt {
        // background-color: darkcyan;
        // border: 1px solid darkcyan;
        // Grid item
        grid-area: post-excerpt;
        // End of grid item
      }
      &.wp-block-post-content {
        // background-color: darkcyan;
        // border: 1px solid darkcyan;
        // Grid item
        grid-area: post-content;
      }
      img {
        // Make sure images don't stick off the edge of the page:
        height: auto;
        max-width: 100%;
      }
    }

    .wp-block-post-featured-image {
      // background-color: gold;
      // border: 1px solid gold;
      margin: inherit;
      padding: inherit;
      // Grid item
      grid-area: post-featured_image;
      // End of grid item
    }
    @if ($content-type == "content") {
      &.pp-focus {
        .wp-block-post-featured-image {
          margin: auto;
        }
      }
    }

  }


} // End of @mixin post-content
