@use 'sass:string';
@use 'sass:map';
@use 'metadata';
@use '../settings/spacing';

@mixin article($content-type, $is-front_end) {

  @if $content-type != "content" and $content-type != 'excerpt' {
    @error "Unknown post content type";
  }
  $grid-areas: "";
  $col-gap: 0;

  // @debug "content type: #{$content-type}";

  & {
    // @debug #{&};
    // background-color: yellow;
    // border: 1px solid yellow;
    // Grid container
    display: grid;
    grid-template-columns: clamp(10vw, 200px, 20vw) minmax(10px, 1fr);
    grid-template-rows: repeat(3, min-content);
    column-gap: $col-gap;
    row-gap: 0;
    // End of grid container
    // @debug "#{&}";
    &-header {
      // Grid item
      grid-area: article-header;
      // End of grid item
      // Grid container
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: min-content;
      grid-template-areas:
        "post-title"
      ;
      place-self: start stretch;
      // End of grid container
    }
    &-body {
      // background-color: cornsilk;
      // Grid item
      grid-area: article-body;
      // End of grid item
      // Grid container
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: min-content;
      grid-template-areas:
        "post-#{$content-type}"
      ;
      place-self: center stretch;
      // End of grid container
    }
    &-footer {
      // Grid item
      grid-area: article-footer;
      // End of grid item
      // Grid container
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: min-content;
      grid-template-areas:
        "metadata"
      ;
      place-self: end stretch;
      // End of grid container
      @include metadata.metadata('article', $is-front_end);
    }
    &-featured_image {
      // background-color: gold;
      // border: 1px solid gold;
      margin: 0 {
        left: auto;
        right: auto;
      };
      // Grid item
      grid-area: article-featured_image;
      place-self: start center;
      // End of grid item
    }

    &-title {
      // background-color: green;
      // border: 1px solid green;
      // Grid item
      grid-area: post-title;
      // End of grid item
    }

    &-body {
      // background-color: darkcyan;
      // border: 1px solid darkcyan;
      &_excerpt {
        // background-color: lightcyan;
        // border: 1px solid lightcyan;
        // Grid item
        grid-area: post-excerpt;
        // End of grid item
      }
      &_full {
        // background-color: cyan;
        // border: 1px solid cyan;
        // Grid item
        grid-area: post-content;
        // End of grid item
      }
      img {
        // Make sure images don't stick off the edge of the page:
        height: auto;
        max-width: 100%;
      }
    }
  }

  @if ($content-type == "content") {
    &.pp-alt {
      $header: "\"article-header\"";
      $image: "\"article-featured_image\"";
      $footer: "\"article-footer\"";
      $body: "\"article-body\"";
      $grid-areas: #{$header} + " " + #{$image} + " " + #{$body} + " "  + #{$footer};
      // @debug "grid (focus): #{$grid-areas}";
      // background-color: maroon;
      // border: 1px solid maroon;
      // Grid container
      grid-template-columns: 100%;
      grid-template-rows: repeat(4, min-content);
      grid-template-areas:
        #{$grid-areas}
      ;
      column-gap: $col-gap;
      row-gap: 0;
      // End of grid container
    }
    &.pp-focus {
      // @debug #{&};
      @if ($is-front_end == true) {
        .pp-article-header {
          // Display title on overlaid on featured image:
          position: relative;
          text-align: center;
          // Only overlay the title over the featured image if there is a featured image:
          .pp-article-featured_image + .pp-article-title {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
          }
          display: flex;
          flex-flow: column nowrap;
          align-items: stretch;
          align-content: center;
          justify-content: center;
        }
      }
      $header: "\"article-header\"";
      $footer: "\"article-footer\"";
      $body: "\"article-body\"";
      $grid-areas: #{$header} + " " + #{$body} + " "  + #{$footer};
      // @debug "grid (focus): #{$grid-areas}";
      // background-color: maroon;
      // border: 1px solid maroon;
      // Grid container
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, min-content);
      grid-template-areas:
        #{$grid-areas}
      ;
      column-gap: $col-gap;
      row-gap: 0;
      // End of grid container
    }
  } @else if ($content-type == "excerpt") {
    &.pp-front_page {
      // background-color: darkorchid;
      // border: 1px solid darkorchid;
      // @debug "#{&}";
      grid-template-columns: 100%;
      $image: "\"article-featured_image\"";
      $header: "\"article-header\"";
      $body: "\"article-body\"";
      $footer: "\"article-footer\"";
      $grid-areas: #{$header} + " " + #{$image} + " " + #{$body} + " "  + #{$footer};
      // @debug "grid (front page): #{$grid-areas}";

      // @debug "grid (focus): #{$grid-areas}";
      // background-color: maroon;
      // border: 1px solid maroon;
      // Grid container
      // grid-template-columns: 100%;
      grid-template-areas:
        #{$grid-areas}
      ;
      column-gap: $col-gap;
      row-gap: calc(0.5 * #{map.get(spacing.$pp--spacing, "vertical")});
      // End of grid container
    }
  }
  &.pp-no-featured_image {
    // @debug "#{&}";
    grid-template-columns: 100%;
    $header: "\"article-header\"";
    $footer: "\"article-footer\"";
    $body: "\"article-body\"";
    $grid-areas: #{$header} + " " + #{$body} + " "  + #{$footer};
    // @debug "grid (no feat. img.): #{$grid-areas}";
    // background-color: mediumaquamarine;
    // border: 1px solid mediumaquamarine;
    // Grid container
    grid-template-areas:
      #{$grid-areas}
    ;
    // End of grid container
    .pp-article-featured_image {
      display: none;
    }
  }
  @media (min-width: 601px) {
    & {
      // @debug "larger screen";
      // @debug "#{&}";
      $header: "\"article-featured_image article-header\"";
      $body: "\"article-featured_image article-body\"";
      $footer: "\"article-featured_image article-footer\"";
      $grid-areas: #{$header} + " " + #{$body} + " "  + #{$footer};
      // @debug "grid (larger-screen): #{$grid-areas}";
      grid-template-areas:
        #{$grid-areas}
      ;
    }
  }
  @media (max-width: 600px) {
    & {
      // @debug "smaller screen";
      // @debug "#{&}";
      grid-template-columns: auto;
      grid-template-rows: min-content;
      $image: "\"article-featured_image\"";
      $header: "\"article-header\"";
      $footer: "\"article-footer\"";
      $body: "\"article-body\"";
      $grid-areas: #{$image} + " " + #{$header} + " " + #{$body} + " "  + #{$footer};
      ;
      grid-template-areas:
        #{$grid-areas}
      ;
    }
  }
} // End of @mixin post-content
