.wp-block-post-comments {
  // border: 1px solid red;
  display: grid;
  grid-template-columns: [left] auto [right];
  grid-template-rows: auto;
  grid-template-areas:
    "comment-title"
    "comment-nav-top"
    "comment-list "
    "comment-nav"
    "comment-respond"
  ;

  #comments {
    // border: 1px solid palegoldenrod;
    grid-area: comment-title;
  }

  .navigation {
    // border: 1px solid blue;
    grid-area: comment-nav;

    .alignleft {
      // border: 1px solid darkmagenta;
      color: darkmagenta;
    }
    .alignright {
      // border: 1px solid darkorange;
      color: darkorange;
    }
  }
  #comments + .navigation {
    // border: 1px solid orange;
    grid-area: comment-nav-top;
  }

  .commentlist {
    // border: 1px solid green;
    margin-top: calc(1 * var(--pp--space--ver));
    grid-area: comment-list;
    // Flex container
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    place-items: stretch;
    // End of flex container

    .comment {
      // border: 1px solid purple;
      // Flex item
      // End of flex item

      padding-left: 0;

      .children .comment {
        margin-left: calc(3 * var(--pp--space--ver));
      }

      .comment-body {
        margin-bottom: calc(1 * var(--pp--space--ver));
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
          "comment-meta"
          "comment-content"
          "comment-reply"
        ;

        .comment-meta {
          line-height: initial;
          margin-left: 0;
          grid-area: comment-meta;
          display: grid;
          gap: calc(1 * var(--pp--space--ver)) calc(1 * var(--pp--space--hor));
          grid-template-columns: max-content;
          grid-template-rows: auto;
          grid-template-areas:
            "comment-meta-author comment-meta-metadata"
          ;

          .comment-author {
            // border: 1px solid blue;
            gap: calc(0 * var(--pp--space--ver)) calc(1 * var(--pp--space--hor));
            grid-area: comment-meta-author;
            display: grid;
            grid-template-columns: 48px max-content 4ch;
            grid-template-rows: 48px;
            grid-template-areas:
              "comment-meta-author-avatar comment-meta-author-name comment-meta-author-says"
            ;
            place-self: start;

            .avatar {
              grid-area: comment-meta-author-avatar;
              place-self: center;
            }
            .fn {
              grid-area: comment-meta-author-name;
              place-self: center start;
            }
            .says {
              grid-area: comment-meta-author-says;
              place-self: center start;
            }

          }
          .comment-metadata {
            // border: 1px solid green;
            grid-area: comment-meta-metadata;
            place-self: start end;

            display: grid;
            gap: calc(0 * var(--pp--space--ver)) calc(0 * var(--pp--space--hor));
            grid-template-columns: minmax(32px, max-content) 4ch;
            grid-template-rows: 48px;
            grid-template-areas:
              "comment-meta-metadata-datetime comment-meta-metadata-edit-link"
            ;
            place-self: center end;

            a {
              grid-area: comment-meta-metadata-datetime;
              place-self: center end;
            }
            .edit-link {
              grid-area: comment-meta-metadata-edit-link;
              place-self: center end;
            }
          }
        }
        .comment-content {
          margin: 0;
          padding: 0;
          grid-area: comment-content;
          place-self: start;
        }
        .reply {
          font-size: initial;
          margin: 0;
          padding: 0;
          grid-area: comment-reply;
          place-self: start
        }
      }
      p {
        font-size: initial;
        line-height: initial;
        margin: 0;
      }
    }
  }

  .comment-respond {
    // border: 1px solid darkorchid;
    grid-area: comment-respond;
  }
}

