@use 'metadata';

.pp-comment-list {
  padding-inline-start: 0;
  row-gap: calc(0.5 * var(--pp--space--ver));
  .children {
    padding-inline-start: calc(7.5 * var(--pp--space--hor));
    row-gap: calc(0 * var(--pp--space--ver));
  }
  &,
  .children {
    // Flex container
    display: flex;
    flex-flow: column nowrap;
    column-gap: 0;
    // End of flex container
    list-style: none;
    counter-reset: comments;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .pp-comment-item {
    // background-color: lavenderblush;
    // display: block;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    // Flex item
    flex: 1 1 100%;
    // End of flex item
  }
  .pp-comment-item::before {
    // background-color: palevioletred;
    content: counters(comments, ".") " ";
    counter-increment: comments;
    float: left;
    // font-size: 32px;
    margin-right: calc(2 * var(--pp--space--hor));
    position: relative;
    top: 10px;
  }

  .pp-comment-individual {
    // background-color: bisque;
    // border: 1px solid bisque;
    // Grid container
    display: grid;
    gap: 0;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "metadata"
      "comment-content"
      "comment-reply"
    ;
    // End of grid container

    @include metadata.metadata;

    .pp-comment-content {
      // Grid item
      grid-area: comment-content;
      // End of grid item
    }

    .reply {
      font-size: inherit;
      margin: 0;
      // Grid item
      grid-area: comment-reply;
      // End of grid item
    }
  }
}
