.pp-footer {
  font-size: smaller;
  // Grid container
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: min-content;
  grid-template-areas:
    "credits"
  ;
  // End of grid container
  &-navigation {
    .wp-block-navigation {
      &__container {
        // Flex container
        display: flex;
        flex-flow: column nowrap;
        gap: 0;
        align-items: stretch;
        align-content: flex-start;
        justify-content: flex-start;
        // End of flex container
      }
      &-item {
        background-color: moccasin;
        // Flex item
        // End of flex item
      }
    }
  }
  .pp-footer-credits {
    // Grid item
    grid-area: credits;
    place-self: center;
    // End of grid item
  }
}

@mixin lay_out-footer-blocks($flexInc, $flexDec, $minItems, $maxItems) {
  @for $i from $minItems through $maxItems {
    &:first-child:nth-last-child(#{$i}),
    &:first-child:nth-last-child(#{$i}) ~ & {
      /* #{$i} item(s) */
      flex: $flexInc $flexDec calc(100% / $i);
      // @debug $flexInc $flexDec calc(100% / $i);
    }
  }
}


.pp-footer-fancy {
  grid-template-areas:
    "blocks"
    "credits"
  ;
  place-self: stretch;
  .pp-footer-blocks {
    // Grid item
    grid-area: blocks;
    // End of grid item
    // Flex container
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    align-items: stretch;
    justify-content: flex-start;
    // End of flex container
    // .pp-footer-block {
    //   &:nth-child(odd) {
    //     background-color: palegreen;
    //   }
    //   &:nth-child(even) {
    //     background-color: complement(palegreen);
    //   }
  }
}

.pp-footer-block {
  // Flex item
  // flex: 1 1 calc(100% / $number-of-columns);
  @include lay_out-footer-blocks(1, 1, 1, 6);
  // End of flex item
}
