.pp-header {
  // background-color: burlywood;
  // Grid container
  display: grid;
  $col-gap: calc(2 * var(--pp--space--hor));
  gap: calc(1 * var(--pp--space--ver)) $col-gap;
  grid-template-columns: clamp(250px, 30%, 500px) 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "site-logo site-title"
    "site-logo site-tagline"
    "site-logo site-nav"
    "site-search site-search"
  ;
  // End of grid container
  margin: 0 {
    block: 0;
    inline: 0;
  };

  &-site-title {
    // background-color: complement(burlywood);
    // Grid item
    grid-area: site-title;
    place-self: center;
    // End of grid item
    margin: 0 {
      block: 0;
      inline: 0;
    };
  }

  &-site-tagline {
    // background-color: complement(peachpuff);
    // Grid item
    grid-area: site-tagline;
    place-self: center;
    // End of grid item
    margin: 0 {
      block: 0;
      inline: 0;
    };
  }

  &-logo {
    // background-color: peachpuff;
    // Grid item
    grid-area: site-logo;
    place-self: center;
    // End of grid item
  }

  &-search {
    // Grid item
    grid-area: site-search;
    place-self: stretch;
    // End of grid item
  }

  &-navigation {
    // background-color: indianred;
    // Grid item
    grid-area: site-nav;
    place-self: center;
    // End of grid item
    margin: 0 {
      block: 0;
      inline: 0;
    };
  }
}
.pp-header-fancy {
  // Grid container
  display: grid;
  $col-gap: 0;
  gap: calc(0 * var(--pp--space--ver)) $col-gap;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "site-title"
    "site-logo"
    "site-tagline"
    "site-nav"
    "site-search"
  ;
  // End of grid container
  .pp-header-site-title {
    font-size: 5rem;
    text-align: center;
  }

  .pp-header-site-tagline {
    font-size: 2.75rem;
    text-align: center;
  }

  .pp-header-logo {
  }

  .pp-header-navigation {
    font-size: 2rem;
  }

  .pp-header-search.pp-site-search {
    & .wp-block-search {
      &__inside-wrapper {
        margin: 0;//calc(0.125 * var(--pp--space--ver)) 0;
      }
      &__input {
        font-size: 2rem;
        text-align: center;
      }
    }
  }
}
.pp-header-no_titles {
  // Grid container
  display: grid;
  $col-gap: 0;
  gap: calc(0 * var(--pp--space--ver)) $col-gap;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas:
    "site-logo"
    "site-nav"
    "site-search"
  ;
  // End of grid container
  .pp-header-site-title {
    display: none;
  }

  .pp-header-site-tagline {
    display: none;
  }

  .pp-header-logo {
    .custom-logo {
      width: 100%;
    }
  }

  .pp-header-navigation {
    font-size: 2rem;
  }

  .pp-header-search.pp-site-search {
    & .wp-block-search {
      &__inside-wrapper {
        margin: 0;//calc(0.125 * var(--pp--space--ver)) 0;
      }
      &__input {
        font-size: 1.75rem;
      }
    }
  }
}
