$is-front_end: true !default;

$site-width: 1200px !default;

@use 'site' with (
  $is-front_end: $is-front_end,
  $site-width: $site-width,
);
@use 'header' with (
  $is-front_end: $is-front_end,
);
@use 'navigation';
@use 'posts-loop'with (
  $is-front_end: $is-front_end,
);
@use 'post-single'with (
  $is-front_end: $is-front_end,
);
@use 'comments' with (
  $is-front_end: $is-front_end,
);
@use 'footer';

// @debug #{$site-width};
.pp-search-404 {
  & .wp-block-search__label {
    display: inline-block;
  }
}
