$include-comments: true !default;

@use 'site' with (
  $site-width: 1200px
);
@use 'header';
@use 'navigation';
@use 'posts-loop'with (
  $include-comments: $include-comments
);
@use 'post-single'with (
  $include-comments: $include-comments
);
@use 'comments' with (
  $include-comments: $include-comments
);
@use 'footer';

.pp-search-404 {
  & .wp-block-search__label {
    display: inline-block;
  }
}
