$column-gap: calc(4 * var(--pp--space--hor));

.pp-header-navigation {
    // background-color: rosybrown;
    // border: 1px solid rosybrown;
  display: flex;
  column-gap: $column-gap;
  .wp-block-navigation__container {
    // Ovveride WordPress:
    column-gap: $column-gap;
  }
}

// .pp-sidebar-navigation,
.pp-block-navigation {

  .submenu-container,
  .pp-nav-pages {
    // background-color: lightslategrey;
    // border: 1px solid lightslategrey;
    // Flex container
    display: flex;
    flex-flow: column nowrap;
    align-content: stretch;
    align-items: stretch;
    justify-content: stretch;
    column-gap: $column-gap;
    row-gap: calc(0.5 * var(--pp--space--ver));
    // End of flex container

    .wp-block-navigation-item,
    .wp-block-navigation-item:hover {
      // border: 1px solid lightsteelblue;
      // background-color: lightsteelblue;
      // Flex item
      // End of flex item
    }
  }
}
