@mixin pagination {
  .wp-block-query-pagination {
    // border: 1px solid brown;
    width: 100%;
    // Grid container
    display: grid;
    column-gap: calc(2 * var(--panda-puss--global--space--hor));
    row-gap: 0;
    grid-template-columns: repeat(3, minmax(10ch, 1fr));
    grid-template-rows: auto;
    grid-template-areas:
      "query-pagination-previous query-pagination-numbers query-pagination-next"
    ;
    // End of grid container
    .wp-block-query-pagination-previous {
      // border: 1px solid orange;
      margin: 0;
      // Grid item
      grid-area: query-pagination-previous;
      place-self: stretch end;
      // End of grid item
    }
    .wp-block-query-pagination-numbers {
      // border: 1px stretch purple;
      margin: 0;
      // Grid item
      grid-area: query-pagination-numbers;
      place-self: stretch center;
      // End of grid item
    }
    .wp-block-query-pagination-next {
      // border: 1px solid green;
      margin: 0;
      // Grid item
      grid-area: query-pagination-next;
      place-self: stretch start;
      // End of grid item
    }
  }
}
