@mixin pagination {
  .wp-block-query-pagination {
    // background-color: burlywood;
    // border: 1px solid brown;
    // Grid container
    display: grid;
    column-gap: calc(2 * var(--pp--space--hor));
    row-gap: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
      "query-pagination-previous query-pagination-numbers query-pagination-next"
    ;
    // End of grid container
    .wp-block-query-pagination-previous {
      // border: 1px solid orange;
      margin: 0;
      // Grid item
      grid-area: query-pagination-previous;
      align-self: stretch;
      justify-self: start;
      place-self: stretch start;
      // End of grid item
    }
    .wp-block-query-pagination-numbers {
      // background-color: purple;
      // border: 1px solid purple;
      margin: 0;
      // Grid item
      grid-area: query-pagination-numbers;
      align-self: stretch;
      justify-self: center;
      place-self: stretch center;
      // End of grid item
    }
    .wp-block-query-pagination-next {
      // border: 1px solid green;
      margin: 0;
      // Grid item
      grid-area: query-pagination-next;
      align-self: stretch;
      justify-self: end;
      place-self: stretch end;
      // End of grid item
    }
  }
}

