@mixin pagination {
  .pp-pagination {
    // @debug #{&};
    // background-color: burlywood;
    // border: 1px solid brown;
    // Grid container
    $col-width: calc(1/3 * 100) + '%';
    display: grid;
    column-gap: 0;
    row-gap: 0;
    grid-template-columns: repeat(3, #{$col-width});
    grid-template-rows: min-content;
    grid-template-areas:
      "query-pagination-previous query-pagination-numbers query-pagination-next"
    ;
    // End of grid container
    &-previous {
      // border: 1px solid orange;
      margin: 0;
      // Grid item
      grid-area: query-pagination-previous;
      align-self: stretch;
      justify-self: start;
      place-self: stretch start;
      // End of grid item
    }
    &-numbers {
      // background-color: purple;
      // border: 1px solid purple;
      margin: 0;
      // Grid item
      grid-area: query-pagination-numbers;
      align-self: stretch;
      justify-self: center;
      place-self: stretch center;
      // End of grid item
    }
    &-next {
      // border: 1px solid green;
      margin: 0;
      // Grid item
      grid-area: query-pagination-next;
      align-self: stretch;
      justify-self: end;
      place-self: stretch end;
      // End of grid item
    }
  }
}

