@use 'sass:string';
@use 'article';

@mixin post-content($content-type) {

  // @debug "Post content type: " + $content-type;

  $article: "\"article article\"";

  $grid-areas: #{$article};
  @if $content-type == "content" {
    $single-nav: "\"post-nav-link-previous post-nav-link-next\"";
    $single-comments: "\"post-comments post-comments\"";
    $grid-areas: #{$grid-areas} + " "  + #{$single-nav} + " "  + #{$single-comments};
  } @else if $content-type == 'excerpt' {
  } @else {
    @error "Unknown post content type";
  }
  // @debug "Post content grid: " + $grid-areas;

  // @debug "Post content parent: " + &;

  & {
    // background-color: red;
    // border: 1px solid red;
    margin: auto;
    // width: 90%;
    // Grid container
    display: grid;
    gap: 0;
    grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr);
    grid-template-rows: auto;
    grid-template-areas: #{$grid-areas};
    column-gap: calc(2 * var(--panda-puss--global--space--hor));
    row-gap: 0;
    // End of grid container

  }

  .pp-individual {
    // background-color: palegoldenrod;
    // border: 1px solid palegoldenrod;
    // Grid item
    grid-area: article;
    // End of grid item
    @include article.article($content-type);
  }

  // Single post/page comments
  .wp-block-post-comments {
    // background-color: darkmagenta;
    // border: 1px solid darkmagenta;
    // Grid item
    grid-area: post-comments;
    // End of grid item
  }
  // End of single post/page comments

  // Single post/page navigation
  .wp-block-post-navigation-link {
    // background-color: deeppink;
    // border: 1px solid deeppink;
  }
  .wp-block-post-navigation-link.post-navigation-link-next {
    // Grid item
    grid-area: post-nav-link-next;
    place-self: center end;
    // End of grid item
  }
  .wp-block-post-navigation-link.post-navigation-link-previous {
    // Grid item
    grid-area: post-nav-link-previous;
    place-self: center start;
    // End of grid item
  }
  // End of single post/page navigation

} // End of @mixin post-content
