.wp-site-blocks {
  // background-color: papayawhip;
  // border: 1px solid papayawhip;
  height: auto;
  margin: auto;
  padding: calc(0 * var(--panda-puss--global--space--ver)) calc(5 * var(--panda-puss--global--space--hor));
  width: 90vw;

  .pp-site {
    .pp-main {
      // @debug "#{&}";
      // margin: 0;
      // padding: 0;
      // width: 100%;
      & :not(.pp-focus) {
        & {
        // @debug "#{&}";
//          // width: 95%;
        }
      }
      & .pp-focus {
        width: 100%;
        & {
          // @debug "#{&}";
          // width: 100%;
        }
      }
    }
  }
  .wp-block-columns.pp-site {
    // border: 1px solid orange;
    // Flex container
    gap: calc(1 * var(--panda-puss--global--space--ver)) calc(2 * var(--panda-puss--global--space--hor));
    justify-content: flex-start;
    // End of flex container

    .wp-block-column.pp-main_content {
      // border: 1px solid green;
      // Flex item
      flex: 2 1 70vw;
      // End of flex item
    }
    .wp-block-column.pp-sidebar {
      // border: 1px solid blue;
      margin-left: 0;
      // Flex item
      flex: 1 1 30vw;
      // End of flex item
    }
  }
}

@media (min-width: 600px) and (max-width: 781px) {

  // Override WordPress:
  .wp-block-columns.pp-site {
    .wp-block-column.pp-main_content {
      // Flex item
      flex: 1 1 100% !important;
      // End of flex item
    }
    .wp-block-column.pp-sidebar {
      margin-left: 0;
      // Flex item
      flex: 1 1 100% !important;
      // End of flex item
    }
  }
}
