@use '../settings/colours';
@use '../settings/fonts';

.wp-site-blocks {
  .pp-focus {
    .pp-article-title {
      background:
        radial-gradient(colours.$pp--colour--fg-primary, transparent)
      ;
      font-size: 3rem;
      text-shadow: 0 0 10px colours.$pp--colour--bg-primary;
    }
  }
}
