@use 'sass:map';
@use '../settings/colours';
@use '../settings/fonts';
@use '../settings/spacing';

.wp-site-blocks {
  .pp-header {
    font-size: #{map.get(fonts.$pp--fonts, "sizes", "large")};
    a:any-link {
      background-color: inherit;
      color: inherit;
      text-decoration: none;
    }
    .pp-site-title {
      margin: {
        block: {
          start: calc(1 * map.get(spacing.$pp--spacing, "vertical"));
          end: calc(1 * map.get(spacing.$pp--spacing, "vertical"));
        }
        // inline: {
        //   start: 0;//calc(5 * #{map.get(spacing.$pp--spacing, "horizontal")});
        //   end: 0;
        // }
      }
      // padding: 0 {
      //   block: {
      //     start: 0;
      //     end: 0;
      //   }
      //   inline:{
      //     start: 0;
      //     end: 0;
      //   }
      // }
    }
    .pp-cover {
      .pp-header-site-title,
      .pp-header-site-tagline {
        text-shadow: 0 0 1ch colours.$pp--colour--fg-primary;
      }
    }
  }
}
