@use 'sass:map';
@use '../settings/colours';
@use '../settings/fonts';

.wp-site-blocks {
  .pp-header {
    font-size: #{map.get(fonts.$pp--fonts, "sizes", "large")};
    a:any-link {
      background-color: inherit;
      color: inherit;
      text-decoration: none;
    }
    .pp-cover {
      .pp-header-site-title,
      .pp-header-site-tagline {
        text-shadow: 0 0 1ch colours.$pp--colour--fg-primary;
      }
    }
  }
}
