@use '../elements';
@use '../initialise/colours';
@use 'sass:map';

.wp-site-blocks {
  .pp-header {
    a:any-link {
      color: currentColor;
      text-decoration: none;
    }
  }
  .pp-cover {
    .pp-header-site-title,
    .pp-header-site-tagline {
      text-shadow: 0 0 1ch map.get(colours.$pp--colours--primary, "pp--primary--fg");
    }
  }
  .pp-focus {
    .pp-article-featured_image + .pp-article-title {
      background:
        radial-gradient(map.get(colours.$pp--colours--primary, "pp--primary--bg--alpha-075"), map.get(colours.$pp--colours--primary, "pp--primary--bg--alpha-025"))
        ;
      font-size: 3rem;
    }
  }
  .wp-block-code {
    @include elements.code-lang;
  }
}
