@use 'sass:map';
@use '../mixins/mixins';
@use '../initialise/colours';
@use 'wp-theme-settings';

.wp-site-blocks {
  .pp-header {
    a:any-link {
      background-color: inherit;
      color: inherit;
      text-decoration: none;
    }
  }
  .pp-cover {
    .pp-header-site-title,
    .pp-header-site-tagline {
      text-shadow: 0 0 1ch colours.$pp--colour--fg-primary;
    }
  }
  .pp-focus {
    .pp-article-featured_image + .pp-article-title {
      background:
        radial-gradient(colours.$pp--colour--bg-primary, colours.$pp--colour--bg-secondary)
      ;
      font-size: 3rem;
      text-shadow: 0 0 10px colours.$pp--colour--bg-primary;
    }
  }
  .wp-block-code {
    @include mixins.code-lang;
  }
}
