@use '../initialise/colours';
@use '../initialise/fonts';

:root {
  --wp--custom--color--fg-primary: #{colours.$pp--colour--fg-primary};
  --wp--custom--color--bg-primary: #{colours.$pp--colour--bg-primary};
  --wp--custom--color--fg-secondary: #{colours.$pp--colour--fg-secondary};
  --wp--custom--color--bg-secondary: #{colours.$pp--colour--bg-secondary};
  --wp--custom--color--fg-tertiary: #{colours.$pp--colour--fg-tertiary};
  --wp--custom--color--bg-tertiary: #{colours.$pp--colour--bg-tertiary};

  --wp--custom--font-family--primary: #{fonts.$pp--font-family--primary};

  --wp--custom--line-height--normal: #{fonts.$pp--line-height};
}
