@use 'sass:map';
@use "sass:meta";
@use '../initialise/colours';
@use '../initialise/fonts';
@use '../initialise/spacing';

body {
  --wp--preset--font-size--small: #{map.get(fonts.$pp--fonts, "sizes", "small")};
  --wp--preset--font-size--medium: #{map.get(fonts.$pp--fonts, "sizes", "medium")};
  --wp--preset--font-size--large: #{map.get(fonts.$pp--fonts, "sizes", "large")};
  --wp--preset--font-size--x-large: #{map.get(fonts.$pp--fonts, "sizes", "x-large")};
}

:root {

  --wp--custom--border--color: #{colours.$pp--colour--fg-primary};
  --wp--custom--border--radius: 5px;
  --wp--custom--border--style: solid;
  --wp--custom--border--width: 1px;

  --wp--custom--color--bg-primary: #{colours.$pp--colour--fg-primary};
  --wp--custom--color--fg-primary: #{colours.$pp--colour--bg-primary};
  --wp--custom--color--fg-secondary: #{colours.$pp--colour--fg-secondary};
  --wp--custom--color--bg-secondary: #{colours.$pp--colour--bg-secondary};
  --wp--custom--color--fg-tertiary: #{colours.$pp--colour--fg-tertiary};
  --wp--custom--color--bg-tertiary: #{colours.$pp--colour--bg-tertiary};

  --wp--custom--font-family--primary: #{map.get(fonts.$pp--fonts, "families", "primary")};
  --wp--custom--font-size--primary: #{map.get(fonts.$pp--fonts, "sizes", "primary")};;
  --wp--custom--line-height--normal: #{map.get(fonts.$pp--fonts, "line-heights", "primary")};;

  --wp--custom--spacing--block-gap: var(--pp--space);
}
