<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"pp-main"} -->
<main class="wp-block-group pp-main">
  <!-- wp:header {"level":1} -->
  <h1>Page not found</h1>
  <!-- /wp:header -->
  <!-- wp:paragraph -->
  <p>We've looked in every cupboard and every room, but we can't seem to find that page anywhere.</p>
  <!-- /wp:paragraph -->
  <!-- wp:search {"label":"Try searching for it?","buttonText":"Ok"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
