<!-- wp:template-part {"area":"header","slug":"header-no_search","tagName":"header","className":"pp-header"} /-->
<!-- wp:group {"tagName":"div","className":"pp-site"} -->
<div class="pp-site">
  <!-- wp:group {"tagName":"main","className":"pp-main"} -->
  <main class="wp-block-group pp-main">
    <!-- wp:pattern {"slug":"panda-puss/hidden-404"} /-->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"pp-footer"} /-->
