<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","className":"pp-header"} /-->

<!-- wp:group {"className":"pp-site pp-columns"} -->
<div class="wp-block-group pp-columns pp-site">
  <!-- wp:query {"className":"pp-column pp-main pp-main_content pp-query pp-term-category pp-loop","tagName":"main"} -->
  <main class="wp-block-query pp-column pp-main pp-main_content pp-query pp-term-category pp-loop">
    <!-- wp:query-title {"type":"archive"} /-->
    <!-- wp:post-template {"className":"pp-template"} -->
      <!-- wp:template-part {"slug":"article-loop","tagName":"article","className":"pp-article"} /-->
    <!-- /wp:post-template -->
    <!-- wp:query-pagination {"className":"pp-pagination"} -->
      <!-- wp:query-pagination-previous {"className":"pp-pagination-previous","label":"previous results"} /-->
      <!-- wp:query-pagination-numbers {"className":"pp-pagination-numbers"} /-->
      <!-- wp:query-pagination-next {"className":"pp-pagination-next","label":"next results"} /-->
    <!-- /wp:query-pagination -->
  </main>
  <!-- /wp:query -->
  <!-- wp:template-part {"slug":"sidebar-lhs","className":"pp-column pp-sidebar pp-sidebar_lhs","tagName":"aside"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"pp-footer"} /-->
