<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","className":"pp-header"} /-->

<!-- wp:group {"className":"pp-site pp-columns pp-term-category","tagName":"div"} -->
<div class="wp-block-group pp-site pp-columns pp-term-category">
  <!-- wp:group {"className":"pp-column pp-main_column pp-main pp-term pp-term-category","tagName":"main"} -->
  <main class="wp-block-group pp-column pp-main_column pp-main pp-term pp-term-category">
    <!-- wp:query-title {"type":"archive","className":"pp-loop-title"} /-->
    <!-- wp:term-description {"className":"pp-archive-about"} /-->
    <!-- wp:query {"className":"pp-column pp-main_column pp-main pp-query pp-term-category pp-loop","tagName":"div"} -->
    <div class="wp-block-query pp-query pp-loop pp-term pp-term-category">
      <!-- wp:post-template {"className":"pp-template"} -->
        <!-- wp:template-part {"slug":"article-loop","tagName":"article","className":"pp-article"} /-->
      <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
    <!-- wp:query-pagination {"className":"pp-pagination"} -->
      <!-- wp:query-pagination-previous {"className":"pp-pagination-previous","label":"newer"} /-->
      <!-- wp:query-pagination-numbers {"className":"pp-pagination-numbers"} /-->
      <!-- wp:query-pagination-next {"className":"pp-pagination-next","label":"older"} /-->
    <!-- /wp:query-pagination -->
  </main>
  <!-- /wp:group -->
  <!-- wp:template-part {"slug":"sidebar-lhs","className":"pp-column pp-sidebar pp-sidebar_lhs","tagName":"aside"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"pp-footer"} /-->
