<!-- wp:template-part {"area":"header","slug":"header-no_titles","tagName":"header","className":"pp-header pp-header-no_titles"} /-->

<!-- wp:query {"className":"pp-site pp-main pp-query pp-front-page pp-loop","query":{"perPage":3,"pages":0,"offset":0,"postType":"post","categoryIds":[],"tagIds": [],"order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit": false},"tagName":"main"} -->
<main class="wp-block-query pp-site pp-main pp-front-page pp-query">
  <!-- wp:pattern {"slug":"panda-puss/calls-to-action"} /-->
    <!-- wp:heading {"level":1} -->
      <h1>Latest news</h1>
    <!-- /wp:heading -->
  <!-- wp:post-template {"className":"pp-template pp-front-page"} -->
    <!-- wp:template-part {"slug":"article-loop","tagName":"article","className":"pp-article pp-front_page"} /-->
  <!-- /wp:post-template -->
</main>
<!-- /wp:query -->

<!-- wp:template-part {"area":"footer","slug":"footer-fancy","tagName":"footer","className":"pp-footer pp-footer-fancy"} /-->
