<!-- wp:template-part {"area":"header","slug":"header-no_titles","tagName":"header","className":"pp-header pp-header-no_titles"} /-->
<!-- wp:group {"className":"pp-site","tagName":"main"} -->
<main class="wp-block-group pp-site pp-main">
    <!-- wp:query {"className":"pp-query pp-loop pp-front-page","perPage":9} -->
    <div class="wp-block-query pp-query pp-loop pp-front-page">
      <!-- wp:post-template {"className":"pp-template pp-front_page"} -->
        <!-- wp:template-part {"slug":"article-loop","tagName":"article","className":"pp-individual pp-front_page"} /-->
      <!-- /wp:post-template -->
    </div>
    <!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"area":"footer","slug":"footer-fancy","tagName":"footer","className":"pp-footer pp-footer-fancy"} /-->
