<!-- wp:template-part {"area":"header","slug":"header-fancy","tagName":"header","className":"pp-header pp-header-fancy"} /-->

<!-- wp:group {"className":"pp-site pp-columns"} -->
<div class="wp-block-group pp-site pp-columns">
  <!-- wp:query {"className":"pp-column pp-main pp-main_column pp-query pp-home pp-loop pp-home-page","tagName":"main"} -->
  <main class="wp-block-query pp-column pp-main pp-main_column pp-query pp-home pp-loop pp-home-page">
    <!-- wp:term-description {"className":"pp-description"} /-->
    <!-- wp:post-template {"className":"pp-template"} -->
      <!-- wp:template-part {"slug":"article-loop","tagName":"article","className":"pp-article"} /-->
    <!-- /wp:post-template -->
    <!-- wp:query-pagination {"className":"pp-pagination"} -->
      <!-- wp:query-pagination-previous {"className":"pp-pagination-previous","label":"newer"} /-->
      <!-- wp:query-pagination-numbers {"className":"pp-pagination-numbers"} /-->
      <!-- wp:query-pagination-next {"className":"pp-pagination-next","label":"older"} /-->
    <!-- /wp:query-pagination -->
  </main>
  <!-- /wp:query -->
  <!-- wp:template-part {"slug":"sidebar-lhs","className":"pp-column pp-sidebar pp-sidebar_lhs","tagName":"aside"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"area":"footer","slug":"footer-fancy","tagName":"footer","className":"pp-footer pp-footer-fancy"} /-->
