<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","className":"pp-header"} /-->
<!-- wp:columns {"className":"pp-site"} -->
<div class="wp-block-columns pp-site">
  <!-- wp:column {"className":"pp-main_content"} -->
  <div class="wp-block-column pp-main_content">
    <!-- wp:group {"tagName":"main","className":"pp-main"} -->
    <main class="wp-block-group pp-main">
      <!-- wp:query {"className":"pp-query"} -->
      <div class="wp-block-query pp-query">
        <!-- wp:post-template {"className":"pp-template"} -->
          <!-- wp:template-part {"area":"content","slug":"article-loop","tagName":"article","className":"pp-individual"} /-->
        <!-- /wp:post-template -->
        <!-- wp:query-pagination {"className":"pp-pagination"} -->
          <!-- wp:query-pagination-previous {"className":"pp-pagination-previous","label":"previous"} /-->
          <!-- wp:query-pagination-numbers {"className":"pp-pagination-numbers"} /-->
          <!-- wp:query-pagination-next {"className":"pp-pagination-next","label":"next"} /-->
        <!-- /wp:query-pagination -->
      </div>
      <!-- /wp:query -->
    </main>
    <!-- /wp:group -->
  </div>
  <!-- /wp:column -->
  <!-- wp:column {"className":"pp-sidebar"} -->
  <div class="wp-block-column pp-sidebar">
    <!-- wp:template-part {"area":"sidebar","slug":"sidebar","tagName":"aside","className":"pp-sidebar"} /-->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->
<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"pp-footer"} /-->
