<!-- wp:template-part {"slug":"header","tagName":"header","className":"pp-header"} /-->
<!-- wp:group {"tagName":"div","className":"pp-site"} -->
<div>
  <!-- wp:group {"tagName":"main","className":"pp-main"} -->
  <main class="wp-block-group pp-main">
    <!-- wp:template-part {"slug":"article-single","tagName":"article","className":"pp-individual pp-focus"} /-->
    <!-- wp:template-part {"slug":"navigation-single","tagName":"div","className":"pp-navigation_single"} /-->
    <!-- wp:post-comments {"className":"pp-comments"} /-->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"pp-footer"} /-->
