<!-- wp:template-part {"area":"header","slug":"header-minimal","tagName":"header","className":"pp-header pp-header-minimal"} /-->

<!-- wp:group {"className":"pp-site pp-main pp-focus","tagName":"main"} -->
<main class="wp-block-group pp-site pp-main pp-focus">
  <!-- wp:template-part {"slug":"article-focus","tagName":"article","className":"pp-article pp-focus"} /-->
  <!-- wp:post-comments {"className":"pp-comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"area":"footer","slug":"footer-fancy","tagName":"footer","className":"pp-footer pp-footer-fancy"} /-->

