<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","className":"pp-header"} /-->

<!-- wp:group {"className":"pp-site pp-main","tagName":"main"} -->
<main class="wp-block-group pp-site pp-main">
  <!-- wp:template-part {"slug":"article-single","tagName":"article","className":"pp-individual pp-no-featured_image"} /-->
  <!-- wp:post-comments {"className":"pp-comments"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"pp-footer"} /-->
