<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","className":"pp-header"} /-->
<!-- wp:group {"className":"pp-site pp-columns"} -->
<div class="wp-block-group pp-columns pp-site pp-columns">
  <!-- wp:group {"className":"pp-main pp-main_content","tagName":"main"} -->
  <main class="wp-block-group pp-column pp-main pp-main_content">
    <!-- wp:template-part {"slug":"article-single","tagName":"article","className":"pp-individual pp-no-featured_image"} /-->
    <!-- wp:post-comments {"className":"pp-comments"} /-->
  </main>
  <!-- /wp:group -->
  <!-- wp:group {"className":"pp-sidebar pp-sidebar_lhs","tagName":"aside"} -->
  <aside class="wp-block-group pp-column pp-sidebar pp-sidebar_lhs">
    <!-- wp:template-part {"slug":"sidebar-lhs"} /-->
  </aside>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"pp-footer"} /-->
