<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","className":"pp-header"} /-->
<!-- wp:columns {"className":"pp-site"} -->
<div class="wp-block-columns pp-site">
  <!-- wp:column {"className":"pp-content"} -->
  <div class="wp-block-column pp-content">
    <!-- wp:group {"tagName":"main","className":"pp-main"} -->
    <main class="wp-block-group pp-main">
      <!-- wp:template-part {"area":"content","slug":"article-single","tagName":"article","className":"pp-individual"} /-->
    <!-- wp:template-part {"area":"nav","slug":"navigation-single","tagName":"div","className":"pp-navigation_single"} /-->
      <!-- wp:post-comments {"className":"pp-comments"} /-->
    </main>
    <!-- /wp:group -->
  </div>
  <!-- /wp:column -->
  <!-- wp:column {"className":"pp-sidebar"} -->
  <div class="wp-block-column pp-sidebar">
    <!-- wp:template-part {"area":"sidebar","slug":"sidebar","tagName":"aside","className":"pp-sidebar"} /-->
  </div>
  <!-- /wp:column -->
</div>
<!-- /wp:columns -->
<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"pp-footer"} /-->
