<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","className":"pp-header"} /-->

<!-- wp:group {"className":"pp-site pp-columns"} -->
<div class="wp-block-group pp-columns pp-site pp-columns">
  <!-- wp:group {"className":"pp-main pp-main_column","tagName":"main"} -->
  <main class="wp-block-group pp-column pp-main pp-main_column">
    <!-- wp:template-part {"slug":"article-single","tagName":"article","className":"pp-article"} /-->
    <!-- wp:post-comments {"className":"pp-comments"} /-->
  </main>
  <!-- /wp:group -->
  <!-- wp:template-part {"slug":"sidebar-rhs","className":"pp-column pp-sidebar pp-sidebar_rhs","tagName":"aside"} /-->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"pp-footer"} /-->
