<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","className":"pp-header"} /-->

<!-- wp:group {"className":"pp-site pp-main pp-search","tagName":"main"} -->
<main class="wp-block-group pp-site pp-main pp-search">
  <!-- wp:heading {"level":1,"className":"pp-query-title"} -->
    <h1 class="pp-query-title">Search results</h1>
  <!-- /wp:heading -->
  <!-- wp:query {"className":"pp-query pp-loop pp-search","tagName":"div"} -->
  <div class="wp-block-query pp-query pp-loop pp-search">
    <!-- wp:post-template {"className":"pp-template"} -->
      <!-- wp:template-part {"slug":"article-loop","tagName":"article","className":"pp-article"} /-->
    <!-- /wp:post-template -->
    <!-- wp:query-pagination {"className":"pp-pagination"} -->
      <!-- wp:query-pagination-previous {"className":"pp-pagination-previous","label":"newer"} /-->
      <!-- wp:query-pagination-numbers {"className":"pp-pagination-numbers"} /-->
      <!-- wp:query-pagination-next {"className":"pp-pagination-next","label":"older"} /-->
    <!-- /wp:query-pagination -->
  <!-- /wp:query -->
  </div>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"area":"footer","slug":"footer-fancy","tagName":"footer","className":"pp-footer pp-footer-fancy"} /-->
