<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"pp-main"} -->
<main class="wp-block-group pp-main">
  <!-- wp:group {"tagName":"article","className":"pp-individual"} -->
  <article class="wp-block-group pp-individual">
    <!-- wp:post-title {"isLink":false} /-->
    <!-- wp:group {"class":"pp-metadata"} -->
    <div class="wp-block-group pp-metadata">
      <!-- wp:post-author /-->
      <!-- wp:post-date /-->
      <!-- wp:group {"class":"pp-terms"} -->
      <div class="wp-block-group pp-terms">
        <!-- wp:post-terms {"term":"category"} /-->
        <!-- wp:post-terms {"term":"post_tag"} /-->
      </div>
      <!-- /wp:group -->
    </div>
    <!-- /wp:group -->
    <!-- wp:post-featured-image {"isLink":false} /-->
    <!-- wp:post-content /-->
  </article>
  <!-- /wp:group -->
  <!-- wp:post-navigation-link {"type":"previous"} /-->
  <!-- wp:post-navigation-link {"type":"next"} /-->
  <!-- wp:post-comments /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
