<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","className":"pp-header"} /-->
<!-- wp:group {"tagName":"div","className":"pp-site"} -->
<div class="pp-site">
  <!-- wp:group {"tagName":"main","className":"pp-main"} -->
  <main class="wp-block-group pp-main">
    <!-- wp:template-part {"slug":"article-single","tagName":"article","className":"pp-individual"} /-->
    <!-- wp:template-part {"slug":"navigation-single","tagName":"section","className":"pp-navigation_single"} /-->
    <!-- wp:post-comments {"className":"pp-comments"} /-->
  </main>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"pp-footer"} /-->
