<!-- wp:template-part {"area":"header","slug":"header","tagName":"header","className":"pp-header"} /-->
<!-- wp:group {"className":"pp-site pp-columns"} -->
<div class="wp-block-group pp-columns pp-site pp-columns">
  <!-- wp:group {"className":"pp-column pp-main pp-main_content","tagName":"main"} -->
  <main class="wp-block-group pp-column pp-column pp-main pp-main_content">
    <!-- wp:query {"className":"pp-query","query":{"perPage":9}} -->
    <div class="wp-block-query pp-query pp-term-post_tag">
      <!-- wp:query-title {"type":"archive"} /-->
      <!-- wp:post-template {"className":"pp-template"} -->
        <!-- wp:template-part {"slug":"article-loop","tagName":"article","className":"pp-individual"} /-->
      <!-- /wp:post-template -->
      <!-- wp:query-pagination {"className":"pp-pagination"} -->
        <!-- wp:query-pagination-previous {"className":"pp-pagination-previous","label":"previous"} /-->
        <!-- wp:query-pagination-numbers {"className":"pp-pagination-numbers"} /-->
        <!-- wp:query-pagination-next {"className":"pp-pagination-next","label":"next page"} /-->
      <!-- /wp:query-pagination -->
    </div>
    <!-- /wp:query -->
    </main>
  <!-- /wp:group -->
  <!-- wp:group {"className":"pp-column pp-sidebar pp-sidebar_lhs","tagName":"aside"} -->
  <aside class="wp-block-group pp-column pp-column pp-sidebar pp-sidebar_lhs">
    <!-- wp:template-part {"slug":"sidebar-lhs"} /-->
  </aside>
  <!-- /wp:group -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"area":"footer","slug":"footer","tagName":"footer","className":"pp-footer"} /-->
